body {
  height: calc(100vh - 90px); }

.app-header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100vw;
  height: calc(90px);
  background-color: #ddf;
  display: flex; }
  .app-header h1 {
    font-size: 2.25em;
    margin: 0;
    padding: 0 16px; }
  .app-header > * {
    display: flex;
    flex-shrink: 0; }
    .app-header > *:first-child {
      justify-content: center;
      align-items: center;
      padding: 0 30px 0 10px; }
    .app-header > *:not(:first-child) {
      flex-direction: column; }
      .app-header > *:not(:first-child) ul {
        display: flex;
        justify-content: flex-end; }

.app-sidebar {
  position: fixed;
  top: 90px;
  height: calc(100vh - 90px);
  right: 0;
  width: 275px;
  margin: 0;
  padding: 10px 20px;
  background-color: #87041a;
  color: white; }
  .app-sidebar *:not(p) {
    margin: 0;
    padding: 0; }
  .app-sidebar h2 {
    font-size: 1.25rem; }
  .app-sidebar li.game-list-item {
    padding-left: 10px;
    display: flex;
    justify-content: space-between; }
    .app-sidebar li.game-list-item:last-child {
      margin-bottom: 10px; }
  .app-sidebar .ready > a {
    font-style: italic;
    color: #ff0;
    font-weight: bold;
    text-decoration: none; }
  .app-sidebar .date {
    font-size: 0.9em; }
    .app-sidebar .date::before {
      content: '('; }
    .app-sidebar .date::after {
      content: ')'; }

main {
  margin-top: 90px;
  margin-right: calc(275px + 10px);
  padding: 10px;
  overflow: scroll; }
  main.full {
    margin-right: 0; }

.level-detail {
  display: flex;
  flex-direction: row; }
  .level-detail > div {
    display: flex;
    flex-direction: column; }
    .level-detail > div:first-child {
      width: 150px;
      height: 110px;
      justify-content: center;
      align-items: center; }
    .level-detail > div:not(:first-child) > div {
      display: flex;
      flex-direction: row; }
      .level-detail > div:not(:first-child) > div button {
        margin-top: 10px; }
        .level-detail > div:not(:first-child) > div button:not(:first-child) {
          margin-left: 20px; }
    .level-detail > div:not(:first-child) p, .level-detail > div:not(:first-child) button {
      margin: 0; }
  .level-detail .level-name::before, .level-detail .level-name::after {
    content: '"'; }
  .level-detail .level-creator, .level-detail .level-name {
    font-style: italic;
    color: #87041a; }
  .level-detail .level-player {
    font-style: italic;
    color: #87041a; }

.notifications {
  z-index: 10;
  position: fixed;
  top: -50px;
  right: -300px;
  opacity: 0.666; }
  .notifications li {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87041a;
    color: white;
    margin-right: 300px; }
    .notifications li a {
      color: white;
      text-decoration: none; }
    .notifications li:first-child {
      margin-top: 50px; }
    .notifications li.ng-enter {
      transition: .666s ease;
      margin-right: 0; }
    .notifications li.ng-enter.ng-enter-active {
      margin-right: 300px; }
    .notifications li.ng-leave {
      transition: .666s ease;
      margin-top: 50px; }
    .notifications li.ng-leave.ng-leave-active {
      margin-top: 0; }

.game-options {
  margin: 10px 0 0 0;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .game-options select {
    min-width: 80px; }

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%; }
  input[type=range]:focus {
    outline: none; }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101; }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 20px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px; }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101; }
  input[type=range] input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 20px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer; }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent; }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 20px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer; }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd; }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9; }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd; }

.welcome {
  display: flex;
  flex-flow: column;
  align-items: center; }
  .welcome p {
    font-family: cursive;
    font-size: 2.5rem;
    margin: 0; }
    .welcome p span {
      font-size: 10rem; }
    .welcome p em {
      color: #07a; }
  .welcome img {
    height: 150px;
    width: 150px; }

.profile, .profile form {
  display: flex;
  flex-direction: column; }

.profile input.ng-invalid {
  color: red; }

.profile .summary {
  display: flex;
  flex-direction: row; }
  .profile .summary img {
    max-width: 150px;
    margin: 0 15px 15px 0; }

.profile .button {
  width: 200px; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index: 20;
  color: black;
  background-color: rgba(0, 0, 0, 0.33);
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal h2 {
    font-size: 1.5rem;
    font-style: italic; }
  .modal.ng-enter {
    opacity: 0;
    top: -100vh;
    height: 200vh;
    transition: 0.4s ease; }
  .modal.ng-enter.ng-enter-active {
    opacity: 1;
    top: 0;
    height: 100vh; }
  .modal.ng-leave.ng-leave-active {
    opacity: 0;
    top: -100vh;
    height: 200vh; }
  .modal.ng-leave {
    opacity: 1;
    top: 0;
    height: 100vh;
    transition: 0.4s ease; }
  .modal .box {
    max-width: 66vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 40px;
    border: 1px solid black;
    background-color: white; }
    .modal .box .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .modal .box .buttons button {
        padding: 10px 30px; }
