.app-header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: calc(90px);
  background-color: #ddf;
  display: flex; }
  .app-header h1 {
    font-size: 2.25em;
    margin: 0;
    padding: 0 16px; }
  .app-header > * {
    display: flex;
    flex-shrink: 0; }
    .app-header > *:first-child {
      justify-content: center;
      align-items: center;
      padding: 0 30px 0 10px; }
    .app-header > *:not(:first-child) {
      flex-direction: column; }
      .app-header > *:not(:first-child) ul {
        display: flex;
        justify-content: flex-end; }

.app-sidebar {
  position: fixed;
  top: 90px;
  height: calc(100vh - 90px);
  right: 0;
  width: 275px;
  margin: 0;
  padding: 10px 20px;
  background-color: #87041a;
  color: white; }
  .app-sidebar h2 {
    font-size: 2em;
    margin: 0; }
  .app-sidebar > ul, .app-sidebar p {
    margin-left: 10px; }

main {
  margin-top: 90px;
  margin-right: calc(275px + 40px);
  padding: 10px;
  overflow: scroll; }
  main.full {
    margin-right: 0; }
