<div ng-hide="completed" class="game-container" id="game-container"></div>
<form ng-hide="completed" class="game-options">
  <div>
    <label for="line-color">Line Color:</label>
    <select id="line-color">
      <option value="0x0000ff">Blue</option>
      <option value="0xffff00">Yellow</option>
      <option value="0xff0000">Red</option>
    </select>
  </div>
  <div>
    <label for="last-alpha">Their Message Opacity:</label>
    <input type="range" id="last-alpha" min="0" max="100" value="100" />
  </div>
  <div>
    <label for="next-alpha">My Message Opacity:</label>
    <input type="range" id="next-alpha" min="0" max="100" value="100" />
  </div>
  <div>
    <button ng-click="popMessage();"><i class="fa fa-undo"></i> Undo Line</button>
  </div>
  <div>
    <button ng-click="sendBack();"><i class="fa fa-cloud-upload"></i> Send Move</button>
  </div>
</form>
<div ng-show="completed">
  <figure>
    <img src="https://media.giphy.com/media/MpHGtb8s1gwow/giphy.gif" alt="celebrate" />
    <figcaption>You Won!!!</figcaption>
  </figure>
</div>
