<div class="level-detail" ng-repeat="game in games.invitations | where: invitationId">
  <div>
    <img ng-src="{{game.level.thumbnail}}" alt="level thumbnail">
  </div>
  <div>
    <p><span class="level-player">{{game.creator.name}}</span> wants to play</p>
    <p><span class="level-name">{{game.level.name | shorten: 20}}</span> with you.</p>
    <div>
      <button class="button success" ng-click="update(game, 'accept')">Accept</button>
      <button class="button alert" ng-click="update(game, 'reject')">Reject</button>
    </div>
  </div>
</div>
<div class="level-detail" ng-repeat="game in games.pending | where: invitationId">
  <div>
    <img ng-src="{{game.level.thumbnail}}" alt="level thumbnail">
  </div>
  <div>
    <p>You invited <span class="level-player">{{game.otherPlayer.name}}</span></p>
    <p>to play <span class="level-name">{{game.level.name | shorten: 20}}</span>.</p>
    <div>
      <button class="button warning" ng-click="update(game, 'reject')">Cancel</button>
    </div>
  </div>
</div>
