<div class="callout">
  <input type="text" placeholder="Search for another player (or leave blank for a random pairing)"
  ng-model="playerSearch" />
  <ul class="no-bullet">
    <li ng-if="playerSearch" ng-repeat="player in filteredPlayers = (players | filter:playerSearch)">
      <span>{{player.name | shorten: 15}}</span>
      <span>{{player.email}}</span>
    </li>
  </ul>
</div>
<div class="callout">
  <input type="text" placeholder="Search for a level (or leave blank for a random selection)"
  ng-model="levelSearch" />
  <ul class="no-bullet">
    <li class="level-detail" ng-if="levelSearch" ng-repeat="level in filteredLevels = (levels | filter:levelSearch)">
      <div>
        <img ng-src="{{level.thumbnail}}" alt="level thumbnail">
      </div>
      <div>
        <p>Level: <span class="level-name">{{level.name | shorten: 20}}</span></p>
        <p>Created by: <span class="level-creator">{{level.creator.name}}</span></p>
      </div>
    </li>
  </ul>
</div>
<div class="callout">
  <fieldset ng-init="is_player1 = 'true'">
    <legend>Which character are you?</legend>
    <label>
      <input type="radio" name="player" ng-model="is_player1" value="true"> Hyperlink
    </label>
    <label>
      <input type="radio" name="player" ng-model="is_player1" value="false"> Tilde
    </label>
  </fieldset>
</div>
<button class="button" ng-class="{ disabled: !filteredPlayers.length || !filteredLevels.length }"
  ng-click="sendInvitation(filteredPlayers, filteredLevels, is_player1 != 'false')">
  Send Invitation
</button>
