<nav>
  <h2>Active Games</h2>
  <ul ng-show="games.active.length">
    <li class="game-list-item" ng-repeat="game in games.active | orderBy: '-myTurn'">
      <span ng-hide="game.myTurn">{{game.otherPlayer.name}} </span>
      <span ng-show="game.myTurn" class="ready"><a ui-sref="game({ id: game.id })">
        {{game.otherPlayer.name | shorten:15}}
      </a> </span>
      <span class="date">{{game.last_updated | date : 'MMM-d hh:mm a'}}</span>
    </li>
  </ul>
  <p ng-hide="games.active.length">No Active Games</p>
  <h2>Pending Games</h2>
  <ul ng-show="games.pending.length">
    <li class="game-list-item" ng-repeat="game in games.pending | orderBy: '-last_updated'">
      <span class="ready"><a ui-sref="invitation({ id: game.id })">
        {{game.otherPlayer.name | shorten:15}}
      </a> </span>
      <span class="date">{{game.last_updated | date : 'MMM-d hh:mm a'}}</span>
    </li>
  </ul>
  <p ng-hide="games.pending.length">No Pending Games</p>
  <h2>My Invitations</h2>
  <ul ng-show="games.invitations.length">
    <li class="game-list-item" ng-repeat="game in games.invitations | orderBy: '-last_updated'">
      <span class="ready"><a ui-sref="invitation({ id: game.id })">
        {{game.otherPlayer.name | shorten:15}}
      </a> </span>
      <span class="date">{{game.last_updated | date : 'MMM-d hh:mm a'}}</span>
    </li>
  </ul>
  <p ng-hide="games.invitations.length">No Invitations</p>
</nav>
