<a ng-hide="user" ng-href="{{loginLocation}}">Login with Google</a>
<div ng-hide="false" class="welcome">
  <p>
    <span>A</span> long time ago, the world was in chaos.
  </p>
  <p>
    For centuries, a nameless power cast a shadow over the kingdom of Hyphen.
  </p>
  <p>
    But the prophets foretold the return of the hero of runtime.
  </p>
  <p>
    And so the legend was born and was known - as in times of olde - as &quot;Hyperlink&quot;.
  </p>
  <p>
    &quot;It is too dangerous to hazard alone,&quot; counseled the elders.
    &quot;The beautiful Princess Tilde will accompany you on your quest.&quot;
  </p>
  <p>
    Can you live up to the legend? Help Princess Tilde and Hyperlink escape the
    dungeon so that they can save the kingdom.
  </p>
</div>
