<div class="welcome">
  <p>
    The Hero of Runtime, <em>Hyperlink</em>, and the beautiful <em>Princess Tilde</em>
    must work together to save the kindom of <em>Hyphen</em>!
  </p>
  <div>
    <img src="/images/hyperlink.png" alt="hyperlink">
    <img src="/images/tilde.png" alt="tilde">
  </div>
  <p>
    Can you live up to the legend?
  </p>
  <img class="welcome-logo" src="/images/logo.png" alt="logo">
  <a class="button" ng-hide="user" ng-href="{{loginLocation}}">Login with Google</a>
</div>
