$header-height: 90px;
$sidebar-width: 275px;
$light-red: #ddf;
$red: #87041a;
$push-height: 50px;
$push-width: 300px;

.app-header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: calc(#{$header-height});
  background-color: $light-red;
  display: flex;
  h1 {
    font-size: 2.25em;
    margin: 0;
    padding: 0 16px;
  }
  & > * {
    display: flex;
    flex-shrink: 0;
    &:first-child {
      justify-content: center;
      align-items: center;
      padding: 0 30px 0 10px;
    }
    &:not(:first-child) {
      flex-direction: column;
      ul {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.app-sidebar {
  position: fixed;
  top: $header-height;
  height: calc(100vh - #{$header-height});
  right: 0;
  width: $sidebar-width;
  margin: 0;
  padding: 10px 20px;
  background-color: $red;
  color: white;
  h2 {
    font-size: 2em;
    margin: 0;
  }
  & > ul, p {
    margin-left: 10px;
  }
}



main {
  margin-top: $header-height;
  margin-right: calc(#{$sidebar-width} + 40px);
  &.full {
    margin-right: 0;
  }
  padding: 10px;
  overflow: scroll;
}
