$header-height: 90px;
$sidebar-width: 275px;

* {
  font-family: sans-serif;
}

.app-header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: calc(#{$header-height} - 10px);
  background-color: #aaf;
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: flex-start;
  div:first-child {
    margin-right: 50px;
  }
  div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    h1 {
      margin: 5px 0;
      letter-spacing: 0.1rem;
      font-style: italic;
    }
    ul {
      padding: 0 0 10px 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      li {
        margin-left: 20px;
        list-style: none;
        .ready {
          color: blue;
        }
      }
    }
  }
}

.app-sidebar {
  position: fixed;
  top: $header-height;
  height: calc(100vh - #{$header-height});
  right: 0;
  width: $sidebar-width;
  margin: 0;
  padding: 10px 20px;
  background-color: #87041a;
  color: white;
  li {
    list-style: none;
  }
  *:not(p) {
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: 1.25rem;
  }
  li.game-list-item {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    &:last-child {
      margin-bottom: 10px;
    }
  }
  .ready > a {
    font-style: italic;
    color: #ff0;
    font-weight: bold;
    text-decoration: none;
  }
  .date {
    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }
}

main {
  margin-top: $header-height;
  margin-right: calc(#{$sidebar-width} + 40px);
  padding: 10px;
  overflow: scroll;
  .game-container {
    margin-bottom: 10px;
  }
  .game-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > * {
      flex-basis: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
