* {
  font-family: sans-serif;
}

.app-header {
  background-color: #aaf;
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: flex-start;
  div:first-child {
    margin-right: 50px;
  }
  div:last-child {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    ul {
      padding: 0 0 20px 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li {
        list-style: none;
      }
    }
  }
}

.app-sidebar {
  
}
